**1. Write a Python function that accepts a string and
calculates the number of uppercase letters and lowercase
letters.**

In [10]:
def letters(s):
  uppercase = 0
  lowercase = 0
  for i in s:
    if i>='A' and i<='Z':
      uppercase += 1
    elif i>='a' and i<='z':
      lowercase += 1
  print("The number of uppercase letters: ", str(uppercase))
  print("The number of lowercase letters: ", str(lowercase))

letters("Its a Bright Sunny Morning")

The number of uppercase letters:  4
The number of lowercase letters:  18

**2. Write a Python function to create and print a list where
the values are squares of numbers between 1 and 30 (both
included).**

In [14]:
def square():
  l=list()
  for i in range(1,31):
    l.append(i**2)
  print("The square of numbers between 1 and 30: \n",l)

square()

The square of numbers between 1 and 30:
 [1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

**3.Create a function that counts the number of elements
within a list that are greater than 30.**

In [20]:
def count(list):
  num = 0
  for i in list:
      if i > 30:
        num +=1
  return num

count([10, 20, 30, 40, 50, 60, 70, 80])
print("The List: ", list)
print("The numbers greater than 30 are: ", num)

The List:  [10, 20, 30, 40, 50, 60, 70, 80]
The numbers greater than 30 are:  5

**4. Write a Python function that takes a list and returns a
new list with unique elements of the first list.**

In [25]:
def unique_elements(list):
  new = []
  for i in list:
    if i not in new:
      new.append(i)
  print("The unique elements are: ",new)

unique_elements([1, 1, 1, 2, 3, 4, 4, 5, 5, 5, 6])

The unique elements are:  [1, 2, 3, 4, 5, 6]

**5. Create a function showEmployee() in such a way that it
should accept employee name, and itâ€™s salary and display
both, and if the salary is missing in function call it should
show it as 9000**

In [6]:
def showEmployee(name, salary=9000):
  print("Employee :", name, "\tsalary :", salary)

showEmployee("Pooja")
showEmployee("Pooja", 9000)

Employee : Pooja 	salary : 9000
Employee : Pooja 	salary : 9000

**6. Write a Python program to count the even, odd
numbers in a given array of integers using Lambda.**

In [14]:
list1 = [10, 12, 55, 85, 44, 23, 69, 25, 33]
print(list1)

even_int = len(list(filter(lambda a: (a%2 == 0), list1)))
odd_int = len(list(filter(lambda a: (a%2 != 0), list1)))

print("The count of even numbers:",even_int)
print("The count of odd numbers:",odd_int)

[10, 12, 55, 85, 44, 23, 69, 25, 33]
The count of even numbers: 3
The count of odd numbers: 6

**7. Write a Python program to add two given lists using
map and lambda**

In [16]:
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]

print("List1:",list1)
print("List2:",list2)

add_lists = map(lambda a, b: a + b, list1, list2)

print("The result of adding the above to list:", list(add_lists))

List1: [1, 2, 3, 4, 5]
List2: [6, 7, 8, 9, 10]
The result of adding the above to list: [7, 9, 11, 13, 15]

**8. Write a Python program to rearrange positive and
negative numbers in a given array using Lambda and filter**

In [20]:
array = [1, -1, 2, -2, 3, -3]
print("The original list:",array)

result = sorted(array, key = lambda i: 0 if i == 0 else -1/i)
print("The rearranged list of positive and negative numbers:\n",result)

The original list: [1, -1, 2, -2, 3, -3]
The rearranged list of positive and negative numbers:
 [1, 2, 3, -3, -2, -1]

**9. Write a Python program to filter a list of integers using
Lambda.**

In [21]:
list1 = [10, 12, 55, 85, 44, 23, 69, 25, 33]
print(list1)

even_int = list(filter(lambda a: (a%2 == 0), list1))
odd_int = list(filter(lambda a: (a%2 != 0), list1))

print("Even numbers:",even_int)
print("Odd numbers:",odd_int)

[10, 12, 55, 85, 44, 23, 69, 25, 33]
Even numbers: [10, 12, 44]
Odd numbers: [55, 85, 23, 69, 25, 33]

**10. Write a Python program to find the intersection of two
given arrays using Lambda and filter.**

In [29]:
list1 = [1,2,3,4,5,6,6]
list2 = [3,4,7,8]

print("List1:",list1)
print("List2:",list2)

intersect = list(filter(lambda z: z in list1, list2))
print("The intersection of list1 and list2 is:",intersect)

List1: [1, 2, 3, 4, 5, 6, 6]
List2: [3, 4, 7, 8]
The intersection of list1 and list2 is: [3, 4]