**1. City = [‘Gurgaon’, ’Mumbai’, ’Bangalore’]**

**i) Print the second item from the list.**

**ii) Change the value from "Gurgaon" to "Kerala"**

**iii) Remove the last element of the list.**

In [19]:
City = ['Gurgaon', 'Mumbai', 'Bangalore']

print(City)
print("-------------------")
## Print the second item from the list.
print("Printing the second item from the list: ",City.pop(1))
print("Now the list has: ",City)
print("-------------------")
## Change the value from "Gurgaon" to "Kerala"
new_city=[]
for s in City:
  new=s.replace('Gurgaon','Kerala')
  new_city.append(new)

print("Changing the values of list", City,"to: ", new_city)
print("-------------------")
## Remove the last element of the list.
print("Removing the last element from the list :", new_city.pop(-1))
print("-------------------")
print("Now the list is left with :",new_city)

['Gurgaon', 'Mumbai', 'Bangalore']
-------------------
Printing the second item from the list:  Mumbai
Now the list has:  ['Gurgaon', 'Bangalore']
-------------------
Changing the values of list ['Gurgaon', 'Bangalore'] to:  ['Kerala', 'Bangalore']
-------------------
Removing the last element from the list : Bangalore
-------------------
Now the list is left with : ['Kerala']

**2. Use negative indexing to print the last item in the list. Make
a list by yourself.**

In [26]:
Fruits=['Apple', 'Orange', 'Grapes', 'Banana']

print(Fruits)
print("By using negative indexing, printing last item from the list: ",Fruits[-1])

['Apple', 'Orange', 'Grapes', 'Banana']
By using negative indexing, printing last item from the list:  Banana

**3. Use a range of indexes to print the third, fourth, and fifth
item in the list. Make a list by yourself.**

In [31]:
Fruits=['Apple', 'Orange', 'Grapes', 'Banana', 'Guava', 'Mango']

print(Fruits)
print("Printing the third, Fourth and Fifth item from the list: ",end=" ")
print(Fruits[2],",",Fruits[3],",",Fruits[-2])

['Apple', 'Orange', 'Grapes', 'Banana', 'Guava', 'Mango']
Printing the third, Fourth and Fifth item from the list:  Grapes , Banana , Guava

**4. Remove the last element from the city list.**

In [36]:
City = ['Gurgaon', 'Mumbai', 'Bangalore']

print(City)
print("Removing the last element from the list: ",City.pop(-1))
print("Remaining list: ",City)

['Gurgaon', 'Mumbai', 'Bangalore']
Removing the last element from the list:  Bangalore
Remaining list:  ['Gurgaon', 'Mumbai']

**5. fruits=[‘apple’,’lichi’,’guava’,’cherry’,’mango’,’watermelon’,’banana’]**

**i ) Add "orange" at the end of the above list.**

**ii) Add "lemon" as the second item in the fruits list**

In [38]:
fruits=['apple','lichi','guava','cherry','mango','watermelon','banana']

print(fruits)
##Add "orange" at the end of the above list
fruits.append('orange')
print("Adding orange at the end of the list: ",fruits)

## Add "lemon" as the second item in the fruits list
fruits.insert(1,'lemon')
print("Adding lemon as the second item to the list: ",fruits)

['apple', 'lichi', 'guava', 'cherry', 'mango', 'watermelon', 'banana']
Adding orange at the end of the list:  ['apple', 'lichi', 'guava', 'cherry', 'mango', 'watermelon', 'banana', 'orange']
Adding lemon as the second item to the list:  ['apple', 'lemon', 'lichi', 'guava', 'cherry', 'mango', 'watermelon', 'banana', 'orange']

**6. Remove ‘cherry’ from the fruit list given above.**

In [40]:
fruits= ['apple', 'lemon', 'lichi', 'guava', 'cherry', 'mango', 'watermelon', 'banana', 'orange']

print(fruits)
print("Removing 'cherry' from the list above: ",fruits.pop(4))
print("The remaining list is: ", fruits)

['apple', 'lemon', 'lichi', 'guava', 'cherry', 'mango', 'watermelon', 'banana', 'orange']
Removing 'cherry' from the list above:  cherry
The remaining list is:  ['apple', 'lemon', 'lichi', 'guava', 'mango', 'watermelon', 'banana', 'orange']

**7. Write the python program to let the user input a list of
numbers and print the list in descending order.**

In [52]:
user=[]
n=int(input("Enter a list of numbers: "))
for i in range(0,n):
  elements=int(input())

  user.append(elements)
print(user)
user.sort(reverse=True)

print("The list in descending order: ",user)

Enter a list of numbers: 6
4
3
9
7
5
1
[4, 3, 9, 7, 5, 1]
The list in descending order:  [9, 7, 5, 4, 3, 1]

**8. Write the python program to let the user input two lists and
combine both the lists.**

In [8]:
a=[]
b=[]
n1=int(input("Enter the number of elements in the first list: "))
for i in range(1,n1+1):
  list1=input("Enter the elements: ")
  a.append(list1)
print("\n")
n2=int(input("Enter the number of elements in the second list: "))
for i in range(1,n2+1):
  list2=input("Enter the elements: ")
  b.append(list2)
print("\n")
newlist=a+b
print(newlist)

Enter the number of elements in the first list: 3
Enter the elements: hi
Enter the elements: hello
Enter the elements: 123


Enter the number of elements in the second list: 2
Enter the elements: good
Enter the elements: morning


['hi', 'hello', '123', 'good', 'morning']

**9. List = [10, 45, 78, 11, 9, 23]. Shuffle this list.**

In [13]:
import random

List=[10,45,78,11,9,23]
random.shuffle(List)
print("The shuffled list", List)

The shuffled list [9, 78, 11, 23, 10, 45]

**10. x = [10, [3.141, 20, [30, 'baz', 2.718]], 'foo']**

**i) What is the expression that returns the 'z' in 'baz'?**

**ii) What expression returns the list ['baz', 2.718]?**

In [54]:
x=[10,[3.141,20,[30,'baz',2.718]],'foo']

print("The length of list x: ",len(x))
## What is the expression that returns the 'z' in 'baz'?
a=x[1][2][1]
print("Returning z from 'baz': ",a[2])

## What expression returns the list ['baz', 2.718]?
b=x[1][2]
b.pop(0)
##print("returning last two items from the list of [30,'baz',2.718]:",b[1],b[2])
print("Returning last two items from the list of [30,'baz',2.718]:",b)

The length of list x:  3
Returning z from 'baz':  z
Returning last two items from the list of [30,'baz',2.718]: ['baz', 2.718]

**11. Extract element 20 from the above list.**

In [56]:
x=[10,[3.141,20,[30,'baz',2.718]],'foo']

x1=x[1][1]
print("Extracting element 20 from the list: ",x1)

Extracting element 20 from the list:  20

**12. You have a list a = [1, 2, 7, 8]**

**Write a Python statement using slice assignment that will fill in
the missing values so that a equals [1, 2, 3, 4, 5, 6, 7, 8]**

In [64]:
a = [1, 2, 7, 8]
print("The list a:", a,"\n")
a[2:1]=[3, 4, 5, 6]

print("The list 'a' after filling the missing values, a: ",a)

The list a: [1, 2, 7, 8]

The list 'a' after filling the missing values, a:  [1, 2, 3, 4, 5, 6, 7, 8]