**1. Print First 10 natural numbers using while loop**

In [2]:
n=1

while (n<=10):
    print(n)
    n+=1

1
2
3
4
5
6
7
8
9
10

**2. Display -10 to -1 using for loop.**

In [9]:
for i in range(-10,0):
  print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

**3. Write a python program to print the factorial of a given
number.**

In [24]:
num=int(input("Enter a number \n"))
factorial=1

if (num<0):
  print("No factorial")
elif num==0:
  print("The factorial of ",num,"is 1")
else:
   for i in range(1,num + 1):  
       factorial = factorial*i  
   print("The factorial of",num,"is",factorial)

Enter a number
5
The factorial of 5 is 120

**4. Write a python program to print all prime numbers
between 0 to 100 , and print how many prime numbers
are there.**

In [5]:
min=int(input("Enter the minimum number: "))
max=int(input("Enter the maximum number: "))

for i in range(min,max):
  if i>1:
    for j in range(2,i):
       if(i % j==0):
         break
    else:
     print(i)

Enter the minimum number: 1
Enter the maximum number: 100
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

**5.Print the following pattern :**

**1**

**1 2**

**1 2 3**

**1 2 3 4**

**1 2 3 4 5**

In [13]:
lines= int(input("Enter the number of rows: "))

for row in range(1, lines+1):
  for column in range(1, row+1):
    print(column, end=' ')
  print(" ")

Enter the number of rows: 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

**6. Accept n number from user and calculate the sum of all
number between 1 and n including n**

In [17]:
n=int(input("Enter a number to calculate the sum: "))

sum=0
for num in range(0, n+1):
  sum=sum+num
print("The sum of first",n,"is",sum)

Enter a number to calculate the sum: 6
The sum of first 6 is 21

**7. Given a number count the total number of digits in a
number.**

In [29]:
n1=int(input("Enter a number to count the digits in it: "))

count=0
while(n1>0):
  count=count+1
  n1= n1//10

print("The number of digits in given number is",count)

Enter a number to count the digits in it: 123456
The number of digits in given number is 6

**8. Write a Python program to create the multiplication table
(from 1 to 10) of a number.**

In [31]:
number=int(input("Enter a number: "))

for i in range(1,11):
  print(number,'x',i,'=', number*i)

Enter a number: 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

**9. Reverse the following list using for loop.**

**list1 = [10, 20, 30, 40, 50]**

In [8]:
list1 = [10, 20, 30, 40, 50]
list2 = [ ]
##list1.reverse()
print(list1)

for i in range(len(list1)):
    list2.insert(i,list1[-1])
    list1.pop(-1)
print("--------------------")
print(list2)

[10, 20, 30, 40, 50]
--------------------
[50, 40, 30, 20, 10]

**10. Write a Python program to construct the following
pattern, using a nested for loop.**

In [40]:
n=int(input("Enter the number of rows: "))

for i in range(0, n):
  for j in range(0, i+1):
    print("*", end=' ')
  print(" ")
  
for i in range(n+1, 0, -1):
  for j in range(0, i-1):
    print("*", end=' ')
  print(" ")

Enter the number of rows: 5
*
* *
* * *
* * * *
* * * * *
* * * * *
* * * *
* * *
* *
*

**11. Write a Python program that accepts a string and
calculate the number of digits and letters.**

In [44]:
s=input("Enter a string with both digits and alphabets: \n")
digits=0
letters=0

for i in s:
  if i.isdigit():
    digits=digits+1
  elif i.isalpha():
    letters=letters+1
  else:
    ("No digits and letters found in the string")

print("The number of digits in the string",s,": ",digits)
print("The number of alphabets in the string",s,": ",letters)

Enter a string with both digits and alphabets:
Hello@1234
The number of digits in the string Hello@1234 :  4
The number of alphabets in the string Hello@1234 :  5

**12. From a list containing ints, strings and floats, make
three lists to store them separately.**

In [54]:
list1=['sun', 'moon', 11, 5.4, 'python', 2020]  
i=[ ]
s=[ ]
f=[ ]

for d in list1:
  if type(d)== int:
    i.append(d)
  elif type(d)== str:
    s.append(d)
  elif type(d)== float:
    f.append(d)

print("List of integers",i)
print("List of strings",s)
print("List of Floating numbers",f)

List of integers [11, 2020]
List of strings ['sun', 'moon', 'python']
List of Floating numbers [5.4]