**1. Define and create a Dataframe using Pandas.**

In [1]:
## DataFrame is a 2-dimensional labeled data structure with columns of potentially different types.

import pandas as pd
a1 = [['abc', 10], ['efg', 20], ['hij', 30]]
print(a1,"\n")

df = pd.DataFrame(a1, columns = ['Name', 'Rollnum'])
print(df)

[['abc', 10], ['efg', 20], ['hij', 30]]

  Name  Rollnum
0  abc       10
1  efg       20
2  hij       30

**2. How can we calculate the standard deviation from the series.**

In [10]:
temperature = [33, 19, 15, 89, 11, -5, 9]
days = ['Mon','Tue','Wed','Thu','Fri','Sat','Sun']

# create series 
series_from_list = pd.Series(temperature, days) # (values,index)
print(series_from_list)

# calculating standard deviation
print("The standard deviation is: ",series_from_list.std())

Mon    33
Tue    19
Wed    15
Thu    89
Fri    11
Sat    -5
Sun     9
dtype: int64
The standard deviation is:  30.674947122242617

**3. Create a Dataframe using List given below:**

**lis=[‘Python’,’Numpy’,’Pandas’]**

In [13]:
lis=['Python','Numpy','Pandas']
new = pd.DataFrame(lis)
new

        0
0  Python
1   Numpy
2  Pandas

**4. Create a Series from dictionary given below:**

**info = {'x' : 0., 'y' : 1., 'z' : 2.}**

In [14]:
info = {'x' : 0., 'y' : 1., 'z' : 2.}
diction = pd.Series(info)
diction

x    0.0
y    1.0
z    2.0
dtype: float64

**5. How will you create an empty Dataframe in Pandas?**

In [25]:
empty_df = pd.DataFrame()
print(empty_df)

Empty DataFrame
Columns: []
Index: []

**6. i) Add a column to that pandas Dataframe that you created in Q1**

**ii) Change index of that Dataframe.**

In [26]:
## i) Add a column to that pandas Dataframe that you created in Q1
empty_df['Name'] = ['Tom', 'Jerry']
print(empty_df,"\n")

## Change index of that Dataframe.
empty_df = pd.DataFrame(columns = ['Name'], index=['a', 'b'])
empty_df['Name'] = ['Tom', 'Jerry']
print("Changing the index values")
print(empty_df)

    Name
0    Tom
1  Jerry

Changing the index values
    Name
a    Tom
b  Jerry

**7. Get the following from this dataframe:**

**import random**

**A = [ random.randint(0,100) for i in range(10) ]**

**B = [ random.randint(0,100) for i in range(10) ]**

**df = pd.DataFrame({ 'field_A': A, 'field_B': B })**

**i) mean**

**ii) median**

**iii) mode**

**iv) 75th percentile**

**v) 90th percentile**

**vi) 99th percentile**

In [18]:
import random

A = [ random.randint(0,100) for i in range(10) ]
B = [ random.randint(0,100) for i in range(10) ]

df = pd.DataFrame({'field_A':A, 'field_B':B})
print(df)

## i) Mean
print("The Mean value:\n",df.mean())
print("\n")

## ii) Median
print("The Median value:\n",df.median())
print("\n")

##iii) Mode
print("The Mode value:\n",df.mode())
print("\n")

# You can call `quantile(i)` to get the i'th quantile,
# where `i` should be a fractional number.
## iv) 75th percentile
print("The 75th percentile:")
print(df.quantile(0.75))

print("\n")
## v) 90th percentile
print("The 90th percentile:")
print(df.quantile(0.90))

print("\n")
## vi)99th percentile
print("The 99th percentile:")
print(df.quantile(0.99))

   field_A  field_B
0       69        8
1       23       96
2       25        8
3       10       97
4       63        9
5       92       65
6       20       10
7        7       13
8       40       82
9       83       10
The Mean value:
 field_A    43.2
field_B    39.8
dtype: float64


The Median value:
 field_A    32.5
field_B    11.5
dtype: float64


The Mode value:
    field_A  field_B
0        7      8.0
1       10     10.0
2       20      NaN
3       23      NaN
4       25      NaN
5       40      NaN
6       63      NaN
7       69      NaN
8       83      NaN
9       92      NaN


The 75th percentile:
field_A    67.50
field_B    77.75
Name: 0.75, dtype: float64


The 90th percentile:
field_A    83.9
field_B    96.1
Name: 0.9, dtype: float64


The 99th percentile:
field_A    91.19
field_B    96.91
Name: 0.99, dtype: float64

**8. How do you count how many unique rows a DataFrame has (i.e.
ignore all rows that are duplicates)?**

In [25]:
df = pd.DataFrame({  
    'Name' : ['Priya', 'Ria', 'Nivi',  
            'Jenny', 'Kiara', 'Lovely', 
            'Suma', 'Disha'],

  'height' : [165, 165, 164,  
              158, 167, 160, 
              158, 165], 
    
  'weight' : [63.5, 64, 63.5, 
              54, 63.5, 62, 
              64, 64], 
    
  'age' : [20, 22, 22,  
           21, 23, 22, 
           20, 21]}
    ) 
print(df,"\n")

uni = df.nunique(axis=0)  #row wise
print("The count of unique rows of the dataframe:")
print(uni)

     Name  height  weight  age
0   Priya     165    63.5   20
1     Ria     165    64.0   22
2    Nivi     164    63.5   22
3   Jenny     158    54.0   21
4   Kiara     167    63.5   23
5  Lovely     160    62.0   22
6    Suma     158    64.0   20
7   Disha     165    64.0   21

The count of unique rows of the dataframe:
Name      8
height    5
weight    4
age       4
dtype: int64

**9. How to keep only top 2 most frequent values as it is and replace
everything else as ‘Other’?**

**Take the following as input.**

**np.random.RandomState(100)**

**ser = pd.Series(np.random.randint(1, 5, [12]))**

In [3]:
import numpy as np

np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
print("The given series:")
print(ser)
print("\n")

print("The top 2 most frequent values:")
print(ser.value_counts())
print("\n")

result = ser[~ser.isin(ser.value_counts().index[:1])] = 'Other'
print(ser)

The given series:
0     3
1     3
2     4
3     2
4     3
5     1
6     2
7     3
8     3
9     1
10    3
11    3
dtype: int64


The top 2 most frequent values:
3    7
2    2
1    2
4    1
dtype: int64


0         3
1         3
2     Other
3     Other
4         3
5     Other
6     Other
7         3
8         3
9     Other
10        3
11        3
dtype: object

**10. A DataFrame has a column of groups 'grps' and and column of
integer values 'vals':**

**df = pd.DataFrame({'grps':
list('aaabbcaabcccbbc'),
'vals': [12, 345, 3, 1, 45, 14 , 4, 52, 54, 23, 235,
21, 57, 3, 87]})**

**For each group, find the sum of the three greatest values. You
should end up with the answer as follows:**

**grps**

**a 409**

**b 156**

**c 345**

In [5]:
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})

df.groupby('grps').apply(lambda x: x.vals.nlargest(3).sum())

grps
a    409
b    156
c    345
dtype: int64

**Create a dataframe for the following to answer the next few questions**

**data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat',
'snake', 'cat', 'dog', 'dog'],**

**'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],**

**'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],**

**'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no',
'no']}**

**labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']**

**11. Display a summary of the basic information about this
DataFrame and its data**

In [28]:
import numpy as np

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index = labels)
print(df)

print("Displaying the summary of the basic information about this DataFrame and its data:")
print(df.info())

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no
Displaying the summary of the basic information about this DataFrame and its data:
<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None

**12. Select the rows where the age is between 2 and 4 (inclusive).**

In [29]:
print("Selecting the rows where the age is between 2 and 4(inclusive):")
print(df[df['age'].between(2, 4)])

Selecting the rows where the age is between 2 and 4(inclusive):
  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
j    dog  3.0       1       no

**13. Select the data in rows [3, 4, 8] and in columns ['animal', 'age'].**

In [30]:
print("Selecting the data from specific rows and columns:")
print(df.iloc[[3,4,8]])
print("\nTo select the columns 'animal' and 'age':")
print(df[['animal','age']])

Selecting the data from specific rows and columns:
  animal  age  visits priority
d    dog  NaN       3      yes
e    dog  5.0       2       no
i    dog  7.0       2       no

To select the columns 'animal' and 'age':
  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

**14. Select the rows where the age is missing, i.e. it is NaN.**

In [31]:
print("Rows where age is missing:")
print(df[df['age'].isnull()])

Rows where age is missing:
  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

**15. Select the rows where the animal is a cat and the age is less than
3.**

In [32]:
print("Rows where the animal is cat and age is less than 3:")
print(df[(df['animal'] <= 'cat') & (df['age'] < 3)])

Rows where the animal is cat and age is less than 3:
  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

**16. Change the age in row 'f' to 1.5.**

In [33]:
print("The original dataframe:")
print(df)
print("\nChanging the age in row 'f' to 1.5:")
df.loc['f', 'age'] = 1.5
print(df)

The original dataframe:
  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

Changing the age in row 'f' to 1.5:
  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

**17. In the 'animal' column, change the 'snake' entries to 'python'.**

In [34]:
print("The original dataframe:")
print(df)

print("\nChanging the entries of 'snake' to 'python':")
df['animal'] = df['animal'].replace('snake', 'python')
print(df)

The original dataframe:
  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

Changing the entries of 'snake' to 'python':
   animal  age  visits priority
a     cat  2.5       1      yes
b     cat  3.0       3      yes
c  python  0.5       2       no
d     dog  NaN       3      yes
e     dog  5.0       2       no
f     cat  1.5       3       no
g  python  4.5       1       no
h     cat  NaN       1      yes
i     dog  7.0       2       no
j     dog  3.0       1       no

**18. Count the number of each type of animal in df.**

In [36]:
print(df['animal'].value_counts())

dog       4
cat       4
python    2
Name: animal, dtype: int64

**19. The 'priority' column contains the values 'yes' and 'no'. Replace
this column with a column of boolean values: 'yes' should
be True and 'no' should be False.**

In [37]:
print("The original dataframe:")
print(df)

print("\nReplacing the 'priority' column containing the values 'yes' and 'no' with 'True' and 'False':")
df['priority'] = df['priority'].map({'yes': True, 'no': False})
print(df)

The original dataframe:
   animal  age  visits priority
a     cat  2.5       1      yes
b     cat  3.0       3      yes
c  python  0.5       2       no
d     dog  NaN       3      yes
e     dog  5.0       2       no
f     cat  1.5       3       no
g  python  4.5       1       no
h     cat  NaN       1      yes
i     dog  7.0       2       no
j     dog  3.0       1       no

Replacing the 'priority' column containing the values 'yes' and 'no' with 'True' and 'False':
   animal  age  visits  priority
a     cat  2.5       1      True
b     cat  3.0       3      True
c  python  0.5       2     False
d     dog  NaN       3      True
e     dog  5.0       2     False
f     cat  1.5       3     False
g  python  4.5       1     False
h     cat  NaN       1      True
i     dog  7.0       2     False
j     dog  3.0       1     False

**20. For each animal type and each number of visits, find the mean
age. In other words, each row is an animal, each column is a
number of visits and the values are the mean ages (hint: use a
pivot table).**

In [38]:
df.pivot_table(index='animal', columns='visits', values='age', aggfunc='mean')

visits    1    2     3
animal
cat     2.5  NaN  2.25
dog     3.0  6.0   NaN
python  4.5  0.5   NaN