**1. Define different types of variables (integer, boolean,
string, float, complex) and print their values and their
types**

In [9]:
a=123
b= True
c="hello i am a string"
d=12.34
e=2+3j

print(a)
print(type(a))
print("\n")

print(b)
print(type(b))
print("\n")

print(c)
print(type(c))
print("\n")

print(d)
print(type(d))
print("\n")

print(e)
print(type(e))

123
<class 'int'>


True
<class 'bool'>


hello i am a string
<class 'str'>


12.34
<class 'float'>


(2+3j)
<class 'complex'>

**2. In the above question convert float variable into integer
type and integer variable into str type.**

In [10]:
d=12.34

print(d)
print(type(d))
print("\n")
print("Converting float value of d to integer value")
i=int(d)
print(i)
print(type(i))
print("\n")
print("Converting integer value of i to string value")
s=str(i)
print(s)
print(type(s))

12.34
<class 'float'>


Converting float value of d to integer value
12
<class 'int'>


Converting integer value of i to string value
12
<class 'str'>

**3. What will you get converting “abc” into boolean ?**

In [11]:
s="abc"

print(s +" " + "is a string"+ "\n")
print("If we convert" + " " +s +" " +"to boolean, we get"+ "\n")
b=bool(s)
print(b)

abc is a string

If we convert abc to boolean, we get

True

**4. Print the substring from index 2 to index 4 for any given
string. For example ( llo ) from “Hello World”**

In [12]:
str1="Hello World"

print(str1)
print("Printing the substring from index 2 to 4" +" " +(str1[2:5]))

Hello World
Printing the substring from index 2 to 4 llo

**5. Write a program to check a substring in a given string.
For example 'e' is present in the word 'Umbrella'**

In [13]:
S1='Umbrella'
S2='e'
sub=str.find(S1,S2)


if(S2 in S1):
    print("Substring e is present in String Umbrella")
else:
    print("Substring e is not present in String Umbrella")
print(sub)

Substring e is present in String Umbrella
4

**6. Use the correct comparison operator to check if 5 is not
equal to 10**

In [14]:
a=5
b=10

if(a != b):
    print("5 is not equal to 10")
else:
    print("5 is equal to 10")

5 is not equal to 10

**7. Write a program to get a string from the user and sort the
words of the string in alphabetical order.**

In [19]:
S1=input("Enter any string \n")

S2=sorted(S1)
print(S2)

Enter any string
ALPHABETICAL
['A', 'A', 'A', 'B', 'C', 'E', 'H', 'I', 'L', 'L', 'P', 'T']

**8. Join two words using special characters like ‘ – ‘ ,’#’**

In [28]:
str1='Good Morning'

print(str1)
print("\n")
str2=str1.split(' ')

print('-'.join(str2))
print('#'.join(str2))
print("\n")
print('-'.join(str1))
print('#'.join(str1))

Good Morning


Good-Morning
Good#Morning


G-o-o-d- -M-o-r-n-i-n-g
G#o#o#d# #M#o#r#n#i#n#g

**9.Find all occurrences of “INDIA” in a given string
ignoring the case.**


**input_str = "Welcome to INDIA. india is awesome."**

In [33]:
input_str = "Welcome to INDIA. india is awesome."

occur=input_str.casefold().count('india') #casefold for ignoring case sensitive

print("The number of occurences of 'india' in the given string is  " + str(occur))

The number of occurences of 'india' in the given string is  2

**10. Replace first two ‘l’ with ‘n’ in ‘Hello World'**

In [35]:
Original_String= 'Hello World'

Replacing_String= Original_String.replace('l','n',2)  #to replace only 2 letters
print(Replacing_String)

Henno World

**11. Write a program that takes your full name as input and
displays the abbreviations of the first and middle names
except the last name which is displayed as it is. For
example, if your name is Robert Brett Roser, then the
output should be R.B.Roser.**

In [39]:
str=input("Enter a name:")

list1=str.split(" ")

print(list1[0][0],list1[1][0],list1[2])
print(list1[0][0]+"."+list1[1][0]+"."+list1[2])

Enter a name:Robert Brett Roser
R B Roser
R.B.Roser

**12. Write a program to check if a given string is a
Palindrome.
A palindrome reads the same from front and back e.g.-
aba, ccaacc, mom, etc.**

In [46]:
User_Input=input("Enter a string \n")
User_Input=User_Input.casefold()

Reverse_String=reversed(User_Input)

if (list(User_Input) == list(Reverse_String)):
  print("The string is a palindrome")
else:
  print("The string is not a palindrome")

Enter a string
Mom
The string is a palindrome