**1. Write a Python program to add an item in a tuple.**

In [9]:
a=('all','the','best')
print("Converting tuple to list to add item:")
l=list(a)
print(l)

print("Adding an item to the list:")
l.append('morning')
print(l)

print("Converting list back to tuple:")
b=tuple(l)
print(b)

Converting tuple to list to add item:
['all', 'the', 'best']
Adding an item to the list:
['all', 'the', 'best', 'morning']
Converting list back to tuple:
('all', 'the', 'best', 'morning')

**2. Write a Python program to reverse a tuple.**

In [14]:
tup=('one','two',3,'four',5)
new=reversed(tup)

print(tuple(new))

(5, 'four', 3, 'two', 'one')

**3. Swap the following two tuples**

**tuple1 = (11, 22)**

**tuple2 = (99, 88)**

In [17]:
tuple1 = (11, 22)
tuple2 = (99, 88)

print("Before Swapping")
print("Tuple1:",tuple1)
print("Tuple2:",tuple2)
print("\n")

tuple1,tuple2=tuple2,tuple1

print("After swapping")
print("Tuple1:",tuple1)
print("Tuple2:",tuple2)

Before Swapping
Tuple1: (11, 22)
Tuple2: (99, 88)


After swapping
Tuple1: (99, 88)
Tuple2: (11, 22)

**4. Modify the first item (22) of a list inside a following tuple to
222**

**tuple1 = (11, [22, 33], 44, 55)**

In [25]:
tuple1 = (11, [22, 33], 44, 55)

print("Existing tuple:",tuple1)

y=list(tuple1)  ##converting tuple to list to update value
print("The existing value is:",y[1][0])  ## it has the value of 22 from [22, 33]

y[1][0]=222  ## updating the value 22 to 222
tuple1=tuple(y)  ## converting it back to tuple from list
print("After updating the value of 22 to 222:", tuple1)

Existing tuple: (11, [22, 33], 44, 55)
The existing value is: 22
After updating the value of 22 to 222: (11, [222, 33], 44, 55)

**5. Write a Python program to unpack a tuple in several
variables.**

In [27]:
## In unpacking of tuple number of variables on left hand side should be equal to number of values on the right

## Creating a tuple
a1=('long', 'short', 'medium', 123)
print("Tuple:", a1)
## packing of variables
n1,n2,n3,n4= a1

##unpacking of tuples
print(n1)
print(n2)
print(n3)
print(n4)

Tuple: ('long', 'short', 'medium', 123)
long
short
medium
123

**6. Write a Python program to add member(s) in an empty
set.**

In [36]:
a_set=set()
print("Creating an empty set:",a_set)

a_set.add('mango')
print("Adding an item to the set:",a_set)

a_set.update(['orange','apple','cherry'])
print("Adding more items to the set:",a_set)

Creating an empty set: set()
Adding an item to the set: {'mango'}
Adding more items to the set: {'orange', 'mango', 'cherry', 'apple'}

**7. Write a Python program to create an intersection of sets.**

In [41]:
l1=[1, 1, 2, 3, 4, 4, 5, 6]
l2=[1, 2, 6, 7, 8]

print("Set1:",set(l1))
print("Set2:",set(l2))

print("The intersection of two sets:",set(l1).intersection(l2))

Set1: {1, 2, 3, 4, 5, 6}
Set2: {1, 2, 6, 7, 8}
The intersection of two sets: {1, 2, 6}

**8. Write a Python program to create a symmetric difference
in sets.**

In [44]:
s1={1, 1, 2, 3, 4, 4, 5, 6}
s2={1, 2, 6, 7, 8}

print("Set1:",s1)
print("Set2:",s2)

print("The symmetric difference of two sets:",s1.symmetric_difference(s2))

Set1: {1, 2, 3, 4, 5, 6}
Set2: {1, 2, 6, 7, 8}
The symmetric difference of two sets: {3, 4, 5, 7, 8}

**9. Return a set of identical items from a given two Python
set**

**set1 = [10, 20, 30, 40, 50]**

**set2 = [30, 40, 50, 60, 70]**

In [48]:
set1 = [10, 20, 30, 40, 50]
set2 = [30, 40, 50, 60, 70]

print("Set1:",set(set1))
print("Set2:",set(set2))

print("The set of identical items from given two sets are:",list(set(set1).intersection(set2)))

Set1: {40, 10, 50, 20, 30}
Set2: {70, 40, 50, 60, 30}
The set of identical items from given two sets are: [40, 50, 30]

**10. Remove 10, 20, 30 elements from a following set at
once**

**set1 = {10, 20, 30, 40, 50}**

In [61]:
set1 = {10, 20, 30, 40, 50}

print("Set1:",set1)
set1.remove(10)
set1.remove(20)
set1.remove(30)
print("Removing 10,20,30, from set:",set1)

Set1: {40, 10, 50, 20, 30}
Removing 10,20,30, from set: {40, 50}

**11. Access value 20 from the following tuple**

**example = ("Pooja", [10, 20, 30], (25, 50, 15))**

In [63]:
example = ("Pooja", [10, 20, 30], (25, 50, 15))

print("Tuple:",example)

## Accessing value
e=example[1][1]
print("Accessing value 20 from the above tuple:",e)

Tuple: ('Pooja', [10, 20, 30], (25, 50, 15))
Accessing value 20 from the above tuple: 20

**12. Count the number of occurrences of item 50 from a tuple**

**numbers = (50, 10, 60, 70, 50)**

In [66]:
numbers = (50, 10, 60, 70, 50)

print("A tuple:", numbers)
print("The number of occurences of 50 in above tuple is:", numbers.count(50))

A tuple: (50, 10, 60, 70, 50)
The number of occurences of 50 in above tuple is: 2